@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Test code */
* {box-sizing: border-box}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(2, 11, 2);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(25, 162, 46, 0.8);
}

/* Number text (1/3 etc) */


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
html {
  background-color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#main { }

#header {
  height: 60px;
  background-color: rgb(18, 105, 16);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  list-style-type: none;
  margin: 0;
}

#nav li {
  display: inline-block;
}

#nav li a {
  color: aliceblue;
  text-decoration: none;
  line-height: 60px;
  font-size: 16px;
  padding: 0 24px;
  display: inline-block;
  margin: 15px 0;
}

#nav li:hover a {
  color: black;
  background-color: white;
}


#content {
  background-color: white;
}

#content .content-section {
  padding: 64px 0;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#content .section-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

#content .section-sub-heading {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  font-size: 20px;
  text-align: justify;
  line-height: 1.6;
  border-radius: 15px 50px; 
  border: 4px solid #73AD21;
  padding: 20px; 
  width: 820px;
  height: 300px;  
  display: block;
}

#content .member-item {
  float: left;
}
/*Thêm 1*/
button.hover-button:hover{
  transform: scale(1.2);
}
/* Regist section */
.regist-section {
  background-color: rgb(15, 136, 13);
  color: white;
}

div.scroll-container {
  background-color: rgb(255, 255, 255);
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
  width: 30%;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust height as needed */
}

iframe {
  max-width: 100%;
  border: 0; /* Remove border if desired */
}


/*demo footer 2*/
.footer {
  position: relative;
  width: 100%;
  background: #0b6e18;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url('/assets/img/greenWave.png');
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/*End demo footer 2*/
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
