<!DOCTYPE html>
<html>
<head>
    <title>
        Trung Tâm Thể Thao
    </title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/sport_icon.png}">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{assets/font/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/footer.css}">
</head>
<body>
<div id="main">
    <div id="header">
        <ul id="nav">
            <li><a th:href="@{/admin}"><img th:src="@{/assets/img/sport_icon.png}" alt="Home Page" style="width:30px;height:30px; margin-top: 10px;"></a>
            </li>
            <li><a th:href="@{/admin/members}">Người dùng</a></li>
            <li><a th:href="@{/admin/rooms}">Sân</a></li>
            <li><a th:href="@{/admin/bookings}">Thanh toán</a></li>
            <li><a th:href="@{/logout}" method="post">Đăng xuất</a></li>
        </ul>
    </div>
    <div id="content">
        <div class="content-section">

            <table>
                <h2 style="
                border-radius: 15px 50px;
                padding: 20px;
                width: 200px;
                height: 80px;
                margin: auto; ">
                    Thống kê
                </h2>
                <tr>
                    <th>Tổng số người dùng:</th>
                    <td th:text="${memberCount}"></td>
                </tr>
                <tr>
                    <th>Tổng số phòng:</th>
                    <td th:text="${roomCount}"></td>
                </tr>
                <tr>
                    <th>Tổng số đơn:</th>
                    <td th:text="${bookingCount}"></td>
                </tr>
                <tr>
                    <th>Thống kê đánh giá:</th>
                    <td th:text="${'1 sao : ' + oneStar}"></td>
                </tr>
                <tr>
                    <th></th>
                    <td th:text="${'2 sao : ' + twoStar}"></td>
                </tr>
                <tr>
                    <th></th>
                    <td th:text="${'3 sao : ' +threeStar}"></td>
                </tr>
                <tr>
                    <th></th>
                    <td th:text="${'4 sao : '+fourStar}"></td>
                </tr>
                <tr>
                    <th></th>
                    <td th:text="${'5 sao : '+fiveStar}"></td>
                </tr>
                <tr>
                    <th>Trung bình:</th>
                    <td th:text="${#numbers.formatDecimal(averageStar, 1, 2) + ' sao trên tổng số '+ bookings+' đánh giá'}"></td>
                </tr>
            </table>
<!--            <p>Tổng số người dùng:</p>-->
<!--            <p>Tổng số phòng:</p>-->
<!--            <p>Tổng số đơn:</p>-->
<!--            <p>Thống kê đánh giá:</p>-->
<!--            <p>Giá trị trung bình trên tổng số đánh giá:</p>-->
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!--End demo Footer 2-->
</div>
</div>
</div>
</footer>
<!--End demo Footer-->
</body>
<script th:src="@{/jsFile/slider.js}"></script>
<script th:src="@{/jsFile/footer.js}"></script>