<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>
            Đăng nhập / Đăng ký 
        </title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/img/sport_icon.png}">
        <meta charset="utf-8">
        <link rel="stylesheet" th:href="@{/assets/css/registStyles.css}">
        <link rel="stylesheet" th:href="@{assets/font/themify-icons/themify-icons.css}">
        <script>
            function myFunction() {
                confirm("Liên hệ admin qua sport4Group@gmail.com để đổi mật khẩu")
            }
        </script>
</head>
<body>
    <div id="header">
        <ul id="nav">
            <li><a th:href="@{/}"><img th:src="@{/assets/img/sport_icon.png}" alt="Home Page" style="width:30px;height:30px; margin-top: 10px;"></a>
            </li>
            <li><a th:href="@{/}">Trang chủ</a></li>
        </ul>
        
    </div>
    <h2 style="margin-top: 50px;">Đăng nhập / Đăng ký</h2>
    <div th:if="${loginFail}" class="error-message">
        <p>Sai email hoặc mật khẩu</p>
    </div>
    <div th:if="${registerFail}" class="error-message" >
        <p>Email đã được dùng</p>
    </div>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#" method="post" th:action="@{/register}" th:object="${registerRequest}">
                <h1>Tạo tài khoản</h1>

                <input type="text" placeholder="Họ và tên" th:field="*{username}"  />
                <input type="email" placeholder="Email" th:field="*{email}"  />
                <input type="password" placeholder="Mật khẩu"  th:field="*{password}" />
                <button type="submit">Đăng ký</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#" method="post" th:action="@{/login}" th:object="${loginRequest}" >
                <h1>Đăng nhập</h1>

                <input type="email" th:field="*{email}" placeholder="Email" />
                <input type="password" th:field="*{password}" placeholder="Mật khẩu" />
                <a onclick="myFunction()">Quên mật khẩu?</a>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Chào mừng quay trở lại!</h1>
                    <p>Để tiếp tục, xin vui lòng đăng nhập</p>
                    <button class="ghost" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Xin chào bạn mới!</h1>
                    <p>Điền thông tin của bạn để tạo tài khoản</p>
                    <button class="ghost" id="signUp">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/jsFile/registScript.js}"></script>